*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        font-family: sans-serif;
    }
    .container{
        display: flex;
        flex-direction: row;
        .image:url("./images/illustration.svg");
     background-color: #f2796e;
     width: 55%;
     min-height: 100vh;
     padding : 10px 20px;
     min-height: ;
